<h1>Liste de toutes mes tâches</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= fa_icon "edit"%>
      <%= link_to task.title, task_path(task) %>
      <%= fa_icon "trash"%>
      <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" }, class: "toto" %>
    </li>
  <% end %>
</ul>

<h2>
  <%= fa_icon "plus-circle"%>
  <%= link_to "New Task", task_new_path %>
</h2>
