<h1>Liste de toutes mes tâches</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= task.completed ? "[X] - " : "[ ] - " %>
      <%= fa_icon "edit"%>
      <%= link_to task.title, task_path(task) %>

      <%= link_to task_path(task), method: :delete do %>
        <%= fa_icon "trash" %>
      <% end %>
    </li>
  <% end %>
</ul>

<h2>
  <%= fa_icon "plus-circle"%>
  <%= link_to "New Task", task_new_path %>
</h2>
